<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Home</title>
</head>
<body>
    <div class= "header">
        <div class="name">
            <h1>
                Movie Recommendation System
            </h1>
        </div>
    </div>
    <div id = "search_box">
        <form action="/" method="POST" id="movie_search" >
            <input type="text" name="search" class="searchbox" placeholder="Start typing...">
            <input type="submit" value="Submit" class="sub">
        </form>
    </div>
</body>
</html>